.desktop2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop2-desktop2 {
  width: 100%;
  height: 2608px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(242, 242, 242, 1);
}
.desktop2-rectangulo1 {
  top: 2px;
  left: 0px;
  width: 1440px;
  height: 98px;
  position: absolute;
}
.pantalla2-text10 {
  top: 57px;
  left: 297px;
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalla2-text11 {
  top: 57px;
  left: 496px;
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text12 {
  top: 57px;
  left: 693px;
  color: rgba(0, 0, 0, 1);
  width: 301px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalla2-rectangle9 {
  top: 19px;
  left: 1354px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.desktop2-rectangle10 {
  top: 19px;
  left: 958px;
  width: 379px;
  height: 70px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
}
.desktop2-component1 {
  top: -15px;
  left: 37px;
  width: 124px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-text13 {
  top: 72px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text14 {
  color: rgba(0, 0, 0, 1);
}
.desktop2-crossed-dumbbells-silhouette-fitness-club-black-minimali {
  top: 0px;
  left: 13px;
  width: 98px;
  height: 72px;
  position: absolute;
}
.desktop2-frameiconsearchoutline {
  top: 39px;
  left: 976px;
  width: 35px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop2-group {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop2-vector1 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop2-vector2 {
  top: 25.714723587036133px;
  left: 25.0003662109375px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.desktop2-frameiconcart {
  top: 30.07672119140625px;
  left: 1363px;
  width: 48px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop2-vector3 {
  top: 40.83333206176758px;
  left: 12.49462890625px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.desktop2-vector4 {
  top: 40.83333206176758px;
  left: 37.484130859375px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.desktop2-vector5 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 39px;
  position: absolute;
}
.desktop2-start-training-today1 {
  top: 103px;
  left: 0px;
  width: 1440px;
  height: 450px;
  position: absolute;
}
.desktop2-text16 {
  top: 622px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text17 {
  top: 929px;
  left: 623px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text18 {
  top: 1247px;
  left: 623px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text19 {
  top: 740px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  width: 1245px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text22 {
  top: 1019px;
  left: 623px;
  color: rgba(0, 0, 0, 1);
  width: 714px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text28 {
  top: 1329px;
  left: 623px;
  color: rgba(0, 0, 0, 1);
  width: 714px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-hombremujerpiegimnasiopalabrashombreparteatras1165 {
  top: 927px;
  left: 95px;
  width: 447px;
  height: 538px;
  position: absolute;
}
.desktop2-line3 {
  top: 1202px;
  left: 625px;
  width: 750px;
  height: 1px;
  position: absolute;
}
.desktop2-rectangle17 {
  top: 1512px;
  left: 0px;
  width: 100%;
  height: 15%;
  position: absolute;
  
} 
.desktop2-text34 {
  top: 1583px;
  left: 547px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text35 {
  top: 1709px;
  left: 547px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text36 {
  top: 1617px;
  left: 107px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text42 {
  top: 1550px;
  left: 111px;
  color: rgba(242, 242, 242, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle18 {
  top: 1557px;
  left: 534px;
  width: 783px;
  height: 80px;
  position: absolute;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 3px;
}
.desktop2-rectangle19 {
  top: 1682px;
  left: 534px;
  width: 783px;
  height: 80px;
  position: absolute;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 3px;
}
.desktop2-rectangle20 {
  top: 1792px;
  left: 559px;
  width: 224px;
  height: 78px;
  position: absolute;
}
.desktop2-text43 {
  top: 1809px;
  left: 621px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text44 {
  top: 1980px;
  left: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text45 {
  top: 2096px;
  left: 89px;
  color: rgba(0, 0, 0, 1);
  width: 458px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle21 {
  top: 2035px;
  left: 593px;
  width: 782px;
  height: 80px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop2-rectangle22 {
  top: 2139px;
  left: 593px;
  width: 383px;
  height: 80px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  
}
.desktop2-rectangle23 {
  top: 2139px;
  left: 996px;
  width: 383px;
  height: 80px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop2-rectangle24 {
  top: 2248px;
  left: 593px;
  width: 786px;
  height: 215px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop2-rectangle25 {
  top: 2487px;
  left: 596px;
  width: 221px;
  height: 87px;
  position: absolute;
}
.desktop2-text53 {
  top: 2512px;
  left: 654px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Impact;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text54 {
  top: 2056px;
  left: 609px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text55 {
  top: 2163px;
  left: 616px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text56 {
  top: 2157px;
  left: 1022px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text57 {
  top: 2258px;
  left: 616px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
